html {
  font-size: 16px;
  background-color: white;
}

body{
  margin: 0 auto;
  width: 960px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.mobile {
  display: none;
}

.container {
  display: flex;
  height: auto;
}

.feature {
  width: 60%;
  margin: 32px 24px;
}

.feature img{
  width: 100%;
}

@media only screen and (max-width:480px){
  .mobile {
    display:block;
  }
  .desktop {
    display: none;
  }
}

/* header */

header {
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

nav ul{
  display: flex;
}

/* banner */

.banner {
  align-items: center;
  background-color: lightgrey;
}

/* information section */

.items{
  width: 40%;
  padding-top: 32px;
}

.item .first img{
  margin-top: 0px;
}

.item {
  display: flex;
  align-items: center;
}

.item img {
  width: 35%;
  margin: 16px;
}

/* courses section */

.curriculum {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: lightgrey;
  width: auto;
  /* padding-top: 32px; */
  padding-bottom: 16px;
  padding-left: 56px;
  padding-right: 56px;
}

.curriculum h2, .thesis h2 {
  text-align: center;
  padding: 2rem 0 1rem 0;
}

.courses {
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  flex-direction: row;
  justify-content: center;
  width: auto;
  padding: 0;
}

.course {
  flex-direction: column;
  background-color: white;
  width: 30%;
  height: auto;
  margin: 0.5rem 0.5rem;
  /* margin: 16px;*/
}

.course img{
  width: 100%;
}

/* thesis exhibit section */

video {
  width: 100%;
}

/* footer */

footer {
  align-items: center;
  justify-content: space-between;
}
