html {
  font-size: 16px;
  background-color: white;
}

body{
  margin: 0 auto;
  width: 960px;
}

h1, h2, h3, h4 {
  font-family: 'Vollkorn', serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

p, span {
  font-family: 'Raleway', sans-serif;
  line-height: 1.3rem;
}

a {
  color: blue;
}

.mobile {
  display: none;
}

.container {
  display: flex;
  height: auto;
}

.feature {
  width: 60%;
  margin: 1rem 1.5rem 2rem 1.5rem;
}

.feature img{
  width: 100%;
}

@media only screen and (max-width: 480px){
  .mobile {
    display: flex;
  }
  .desktop {
    display:none;
  }
}
/* header */

header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  background-color: #337DBF;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  height: 2rem;
}

.logo span{
  font-family: 'Vollkorn', serif;
}

.academy {
  color: lightgrey;
}

nav ul{
  display: flex;
}

nav li {
  padding: 0rem 0.5rem;
  color: lightgrey;
}

nav.desktop {
  margin-right: 1rem;
}

/* banner */

.banner {
  align-items: center;
  background-color: #7EB0DD;
  padding-top: 1rem;
}

.banner p {
  padding: 1rem 0rem;
}

.banner .content {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-right: 10%;
}

.btn {
  background-color: #084E8D;
  padding: 0.5rem 0rem;
  text-align: center;
  color: white;
}

/* information section */
.information {
  padding-top: 1rem;
  background-color: #FFF;
}

.feature h2 {
  padding: 2rem 0 1.5rem 0;
}

.name {
  padding-top: 1.5rem;
  color: #084E8D;
  font-size: 0.8rem;
  font-style: italic;
}

.items{
  width: 40%;
}

.item {
  display: flex;
  align-items: center;
}

.item img {
  width: 35%;
  margin: 16px;
}

.item:hover {
  background-color: #5393CC;
  opacity: 0.85;
}

.text {
  padding-right: 1rem;
}

.text p {
  padding: 0.5rem 0rem;
}
/* courses section */

.curriculum {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #7EB0DD;
  width: auto;
  /* padding-top: 32px; */
  padding-bottom: 1.5rem;
  padding-left: 56px;
  padding-right: 56px;
}

.curriculum h2, .thesis h2 {
  text-align: center;
  padding: 2rem 0 1rem 0;
}

.courses {
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  flex-direction: row;
  justify-content: center;
  width: auto;
  padding: 0;
}

.course {
  flex-direction: column;
  background-color: white;
  width: 30%;
  height: auto;
  margin: 0.5rem 0.5rem;
  box-shadow: 0 4px 6px 1px grey;
  /* margin: 16px;*/
}

.course img{
  width: 100%;
}

.course h3 {
  margin: 1rem 0 0 1rem;
}

.course .content {
  margin: 0 1rem 1.5rem 1rem;
}

.course .content h4{
  padding: 0.5rem 0rem;
}


/* thesis exhibit section */

video {
  width: 100%;
}

.feature h3 {
  padding: 1.5rem 0 0.5rem 0;
}

/* footer */

footer {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 4rem 1.5rem;
  background-color: #337DBF;
}
